<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  </style>
<div class="demo-app">
  <div class="demo-app-service">
    <mat-form-field appearance="fill">
      <mat-label>Select Service Type</mat-label>
        <input type="search"
          matInput
          [formControl]="searchControl"
          [matAutocomplete]="auto"
          matNativeControl
          MatFormFieldControl
        >
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let item of filteredResults$ | async" [value]="item">
          {{item}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="demo-app-main">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
  <mat-card *ngIf="selectTime" class="time-card">
    <mat-card-title>Choose Time for Day {{this.day}}</mat-card-title>
    <mat-card-content>
    <mat-form-field  appearance="outline" class="slot-input-padding">            
      <mat-label>Start Time</mat-label>
      <input 
      type="search"
        #startTime 
        matInput 
        [formControl]="timeControl"
        [matAutocomplete]="auto"
      >
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let item of filteredTime$ | async" [value]="item">
          {{item}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field  appearance="outline" class="slot-input-padding">
      <mat-label>End Time</mat-label>
      <input 
      type="search"
      #endTime 
        matInput
        [formControl]="timeControl"
        [matAutocomplete]="auto"
      >
      <mat-autocomplete #auto="matAutocomplete" >
        <mat-option *ngFor="let item of filteredTime$ | async" [value]="item">
          {{item}}
        </mat-option>
      </mat-autocomplete>
      </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="handleCloseTimeSlotCard()" class="card-button">CANCEL</button>
        <button mat-button (click)="handleCreateSlotCard(startTime.value, endTime.value)" class="card-button">CREATE SLOT</button>
      </mat-card-actions>
  </mat-card>
</div>

